# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

*.xlsx
*.csv
Fornecedores.csv
Produtos.csv
.vscode/launch.json
.vscode/settings.json
.venv/pyvenv.cfg
.venv/Include/site/python3.10/greenlet/greenlet.h
.venv/Scripts/activate
.venv/Scripts/activate.bat
.venv/Scripts/Activate.ps1
.venv/Scripts/autopep8.exe
.venv/Scripts/deactivate.bat
.venv/Scripts/docutils.exe
.venv/Scripts/dotenv.exe
.venv/Scripts/f2py.exe
.venv/Scripts/flake8.exe
.venv/Scripts/fonttools.exe
.venv/Scripts/futurize-script.py
.venv/Scripts/futurize.exe
.venv/Scripts/get_objgraph
.venv/Scripts/imageio_download_bin.exe
.venv/Scripts/imageio_remove_bin.exe
.venv/Scripts/ipython.exe
.venv/Scripts/ipython3.exe
.venv/Scripts/isort-identify-imports.exe
.venv/Scripts/isort.exe
.venv/Scripts/jupyter-kernel.exe
.venv/Scripts/jupyter-kernelspec.exe
.venv/Scripts/jupyter-migrate.exe
.venv/Scripts/jupyter-run.exe
.venv/Scripts/jupyter-troubleshoot.exe
.venv/Scripts/jupyter.exe
.venv/Scripts/normalizer.exe
.venv/Scripts/nuitka-run.bat
.venv/Scripts/nuitka.bat
.venv/Scripts/pasteurize-script.py
.venv/Scripts/pasteurize.exe
.venv/Scripts/pep8.exe
.venv/Scripts/pip.exe
.venv/Scripts/pip3.10.exe
.venv/Scripts/pip3.exe
.venv/Scripts/pybabel.exe
.venv/Scripts/pycodestyle.exe
.venv/Scripts/pydocstyle.exe
.venv/Scripts/pyflakes.exe
.venv/Scripts/pyftmerge.exe
.venv/Scripts/pyftsubset.exe
.venv/Scripts/pygmentize.exe
.venv/Scripts/pyi-archive_viewer.exe
.venv/Scripts/pyi-bindepend.exe
.venv/Scripts/pyi-grab_version.exe
.venv/Scripts/pyi-makespec.exe
.venv/Scripts/pyi-set_version.exe
.venv/Scripts/pyinstaller.exe
.venv/Scripts/pylsp.exe
.venv/Scripts/pylupdate6.exe
.venv/Scripts/pyproject-build.exe
.venv/Scripts/pyside6-assistant.exe
.venv/Scripts/pyside6-deploy.exe
.venv/Scripts/pyside6-designer.exe
.venv/Scripts/pyside6-genpyi.exe
.venv/Scripts/pyside6-linguist.exe
.venv/Scripts/pyside6-lrelease.exe
.venv/Scripts/pyside6-lupdate.exe
.venv/Scripts/pyside6-metaobjectdump.exe
.venv/Scripts/pyside6-project.exe
.venv/Scripts/pyside6-qml.exe
.venv/Scripts/pyside6-qmlformat.exe
.venv/Scripts/pyside6-qmlimportscanner.exe
.venv/Scripts/pyside6-qmllint.exe
.venv/Scripts/pyside6-qmlls.exe
.venv/Scripts/pyside6-qmltyperegistrar.exe
.venv/Scripts/pyside6-qtpy2cpp.exe
.venv/Scripts/pyside6-rcc.exe
.venv/Scripts/pyside6-uic.exe
.venv/Scripts/python_d.exe
.venv/Scripts/python.exe
.venv/Scripts/pythonw_d.exe
.venv/Scripts/pythonw.exe
.venv/Scripts/pytube.exe
.venv/Scripts/pyuic6.exe
.venv/Scripts/pywin32_postinstall.py
.venv/Scripts/pywin32_testall.py
.venv/Scripts/rst2html.py
.venv/Scripts/rst2html4.py
.venv/Scripts/rst2html5.py
.venv/Scripts/rst2latex.py
.venv/Scripts/rst2man.py
.venv/Scripts/rst2odt_prepstyles.py
.venv/Scripts/rst2odt.py
.venv/Scripts/rst2pseudoxml.py
.venv/Scripts/rst2s5.py
.venv/Scripts/rst2xetex.py
.venv/Scripts/rst2xml.py
.venv/Scripts/rstpep2html.py
.venv/Scripts/sphinx-apidoc.exe
.venv/Scripts/sphinx-autogen.exe
.venv/Scripts/sphinx-build.exe
.venv/Scripts/sphinx-quickstart.exe
.venv/Scripts/tqdm.exe
.venv/Scripts/ttx.exe
.venv/Scripts/undill
.venv/Scripts/yapf-diff.exe
.venv/Scripts/yapf.exe
.venv/share/jupyter/kernels/python3/kernel.json
.venv/share/jupyter/kernels/python3/logo-32x32.png
.venv/share/jupyter/kernels/python3/logo-64x64.png
.venv/share/jupyter/kernels/python3/logo-svg.svg
.venv/share/man/man1/ipython.1
.venv/share/man/man1/ttx.1
Banco de dados.pdf
bd_estoque.sql.pdf
Cópia de bd_estoque.sql
createtable.py
teste.py
bd_estoque_v2.sqbpro
bd_estoque.sqbpro
icons_rc.py
